<h1>Hi <%=@user.username%></h1>

<% if @user.jackets.count == 0 %>
  <h3>You haven't added any jackets yet. Click on "Add a new jacket" below to get started</h3>
<% else %>
  <h2>This is where all of your jackets are</h2>
  <%@user.jackets.each do |jacket|%>
    <b><a href='/<%=@user.slug%>/jackets/<%=jacket.slug%>'> <%=jacket.brand.name%> <%=jacket.jacket_type%> </a></b>
    <br>
    <i><a href='/<%=@user.slug%>/locations/<%=jacket.location_id%>'> <%=Location.find_by_id(jacket.location_id).name%> </a></i>
    <br>
    <br>
    <%end%>
    <br>
    <br>
<% end %>

<br>
<a href='/jackets/new'>Add a new jacket</a>
<br><br>
<form action='/logout' method=POST>
<input type="submit" value="log out">
</form>
