<h1><%=@jacket.brand.name%> <%=@jacket.jacket_type%></h1>

<a href='/jackets/<%=@jacket.jacket_type%>'>More <%=@jacket.jacket_type%>s</a>

<% @more_users_jackets_of_same_type.each do |jacket| %>
  <br>
  <%=@jacket.brand.name%> <%=@jacket.jacket_type%>
<%end%>


<br>
<a href='/locations/<%=@jacket.location_id%>'>See other jackets in this location</a>
<br>
<form method="POST" action="/jackets/<%= @jacket.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <br>
  <input type="submit" value="Delete jacket" id="Delete Jacket">
</form>
