<h1><%=@jacket.brand.name%> <%=@jacket.jacket_type%></h1>

<a href='/jackets/<%=@jacket.jacket_type%>'>Check out more <%=@jacket.jacket_type%>s</a>
<br>
<a href='/locations/<%=@jacket.location.id%>'>See what else is in this location</a>
<p>See more <%=@jacket.brand.name%> <%=@jacket.jacket_type%>s</p>
